html,
body {
	width: 100%;
}

#root {
	width: 100%;
}

header {
	background-color: blueviolet;
	padding: 1vw;
}

.joke-card {
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

.joke-card::after {
	font-size: 2em;
	color: coral;
	content: attr(data-text);
	display: block;
	position: absolute;
	bottom: -0.5%;
	right: 1%;
	opacity: 0.3;
}

.joke {
	-webkit-transition: 0.7s ease-in;
	-moz-transition: 0.7s ease-in;
	-o-transition: 0.7s ease-in;
	transition: 0.7s ease-in;
	opacity: 0;
}

.show {
	opacity: 1;
	visibility: visible;
}
